<!doctype html>
<html class="global-html" lang="zh-CN">
  <head>
    <title>建投APP-安全蓝人版-上级领导</title>
    <meta name="keywords" content="">
    <meta name="description" content=""> 
    @@include('./tpl.headarea.common.html')
    <link href="css/g.safe.css" rel="stylesheet" type="text/css">
    <link href="css/b.safe.css" rel="stylesheet" type="text/css">
    @@include('./tpl.headarea.common.js.html')
  </head>
  <body class="global-body jt-global-body">
    <div class="mui-bar mui-bar-header-secondary cm-selectorbar">
  <div class="cm-selector">
    <ul>
      <li class="cm-selector-item mui-active">
        <a href="javascript:void(0);">待确认<span class="mui-badge mui-badge-danger">6</span></a>
      </li>
      <li class="cm-selector-item">
        <a href="javascript:void(0);">待回复<span class="mui-badge mui-badge-danger">1</span></a>
      </li>
      <li class="cm-selector-item">
        <a href="javascript:void(0);">已完成<span class="mui-badge mui-badge-default">12</span></a>
      </li>
    </ul>
  </div>
</div>
<div id="quality_superior_pullrefresh" class="mui-content mui-scroll-wrapper cm-scrollwrap">
  <div class="mui-scroll">
    <div class="cm-cardview">
      <section class="mui-card cm-card-item" data-ng-repeat="m in names">
        <div class="mui-card-content">
          <div class="mui-card-content-inner">
            <h3 class="item-title">2017年第一季度关于集团总部部门中层正职岗位竞聘结果的公示</h3>
            <article class="mui-table item-subinfo">
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-dates">
                  <p><i></i>时间：2017-01-19</p>
                  <div class="m-dates-remind">
                    <span class="mui-badge mui-badge-inverted mui-badge-danger l-countdown">剩余<b>11</b>天</span>
                  </div>
                </section>
              </div>
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-user">
                  <p class="m-user-named"><i class="fa fa-user-o"></i>发起人：李幕林子</p>
                  <p class="m-user-dept">
                    <span class="mui-badge mui-badge-danger">项目管理中心</span>
                  </p>
                </section>
              </div>
            </article>
          </div>
        </div>
        <footer class="mui-card-footer">
          <div class="mui-table ftr-status">
            <div class="mui-table-cell mui-col-xs-4">
              <span class="mui-badge mui-badge-primary ftr-status-label">待确认</span>
            </div>
            <div class="mui-table-cell mui-col-xs-8">
              <div class="ftr-status-timelimit"><b>2017-01-30</b>前确认</div>
            </div>
          </div>
        </footer>
      </section>
      <section class="mui-card cm-card-item" data-ng-repeat="m in names">
        <div class="mui-card-content">
          <div class="mui-card-content-inner">
            <h3 class="item-title">2017年第一季度关于集团总部部门中层正职岗位竞聘结果的公示</h3>
            <article class="mui-table item-subinfo">
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-dates">
                  <p><i></i>时间：2017-01-19</p>
                  <div class="m-dates-remind">
                    <span class="mui-badge mui-badge-inverted mui-badge-danger l-countdown">剩余<b>11</b>天</span>
                  </div>
                </section>
              </div>
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-user">
                  <p class="m-user-named"><i class="fa fa-user-o"></i>发起人：李幕林子</p>
                  <p class="m-user-dept">
                    <span class="mui-badge mui-badge-danger">项目管理中心</span>
                  </p>
                </section>
              </div>
            </article>
          </div>
        </div>
        <footer class="mui-card-footer">
          <div class="mui-table ftr-status">
            <div class="mui-table-cell mui-col-xs-4">
              <span class="mui-badge mui-badge-primary ftr-status-label">待确认</span>
            </div>
            <div class="mui-table-cell mui-col-xs-8">
              <div class="ftr-status-timelimit"><b>2017-01-30</b>前确认</div>
            </div>
          </div>
        </footer>
      </section>
      <section class="mui-card cm-card-item" data-ng-repeat="m in names">
        <div class="mui-card-content">
          <div class="mui-card-content-inner">
            <h3 class="item-title">2017年第一季度关于集团总部部门中层正职岗位竞聘结果的公示</h3>
            <article class="mui-table item-subinfo">
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-dates">
                  <p><i></i>时间：2017-01-19</p>
                  <div class="m-dates-remind">
                    <span class="mui-badge mui-badge-inverted mui-badge-danger l-countdown">剩余<b>11</b>天</span>
                  </div>
                </section>
              </div>
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-user">
                  <p class="m-user-named"><i class="fa fa-user-o"></i>发起人：李幕林子</p>
                  <p class="m-user-dept">
                    <span class="mui-badge mui-badge-danger">项目管理中心</span>
                  </p>
                </section>
              </div>
            </article>
          </div>
        </div>
        <footer class="mui-card-footer">
          <div class="mui-table ftr-status">
            <div class="mui-table-cell mui-col-xs-4">
              <span class="mui-badge mui-badge-primary ftr-status-label">待确认</span>
            </div>
            <div class="mui-table-cell mui-col-xs-8">
              <div class="ftr-status-timelimit"><b>2017-01-30</b>前确认</div>
            </div>
          </div>
        </footer>
      </section>
      <section class="mui-card cm-card-item" data-ng-repeat="m in names">
        <div class="mui-card-content">
          <div class="mui-card-content-inner">
            <h3 class="item-title">2017年第一季度关于集团总部部门中层正职岗位竞聘结果的公示</h3>
            <article class="mui-table item-subinfo">
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-dates">
                  <p><i></i>时间：2017-01-19</p>
                  <div class="m-dates-remind">
                    <span class="mui-badge mui-badge-inverted mui-badge-danger l-countdown">剩余<b>11</b>天</span>
                  </div>
                </section>
              </div>
              <div class="mui-table-cell mui-col-xs-6">
                <section class="m-user">
                  <p class="m-user-named"><i class="fa fa-user-o"></i>发起人：李幕林子</p>
                  <p class="m-user-dept">
                    <span class="mui-badge mui-badge-danger">项目管理中心</span>
                  </p>
                </section>
              </div>
            </article>
          </div>
        </div>
        <footer class="mui-card-footer">
          <div class="mui-table ftr-status">
            <div class="mui-table-cell mui-col-xs-4">
              <span class="mui-badge mui-badge-primary ftr-status-label">待确认</span>
            </div>
            <div class="mui-table-cell mui-col-xs-8">
              <div class="ftr-status-timelimit"><b>2017-01-30</b>前确认</div>
            </div>
          </div>
        </footer>
      </section>
  
  
  
    
    
    
    </div>
  </div>
</div>
    
    
  </body>
  <script>
    seajs.use([$app.scriptDir + $app.access],function(){
      mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
      });
    });
  </script>

</html>