@charset "utf-8";
/* ============================================================
 * [MODULE]  表单页面panel 
 * 
 * 
============================================================ */
.m-form-panel{
	min-height: 100%; margin-top: pxTorem(10); background-color: #F5F4F7;
	.m-sel-icon{width: pxTorem(16); height: pxTorem(13.5); margin-right: pxTorem(10); margin-left: pxTorem(10); vertical-align: middle;}
	.m-list-item{padding: 0;}
	.sel-slide-box{display: flex; flex: 1; height: pxTorem(40px); align-items: center; color: #666;}
	.m-list-form-item-tit-bd{ margin: 0 !important; padding: 0 pxTorem(7.5) !important;  background-color: white; align-items: center; font-size: pxTorem(18);
	&:after{
		right: pxTorem(7.5);
		
	}
	}
	.m-sel-icon{ background-image: url(../images/subpage/b_safe_icon_sprite.png); background-size: pxTorem(438/2) pxTorem(229/2); }
	.input-group{ height: pxTorem(40px); }
	.textarea-group{ flex: 1; }
	.textarea-input{ border: none; min-height: pxTorem(123/2); padding: pxTorem(13) 0 0;}
	.center-text{display: flex; flex: 1; justify-content: center; margin-right: pxTorem(30); font-size: pxTorem(14);}
	.title-box{ position: relative; height: pxTorem(50);
		
	}
	.tit-cont{ display: flex; height: 100%; padding: 0 pxTorem(7.5); padding-bottom: pxTorem(5); align-items: flex-end; font-size: pxTorem(12);  line-height: pxTorem(24);  }
	.input-group{
		flex: 1;
		align-items: center;
		.input-tit{ margin: 0; padding: 0; border: none; font-size: pxTorem(16); color: #333; }
	}
	
	.image-list {
		background-size: cover;
		margin: 0 pxTorem(-15);
		overflow: hidden;
	}
	.image-item {
		width: pxTorem(100);
		height: pxTorem(80);
		background-image: url(../images/subpage/addimg_btn_bg.jpg);
		background-size: 100% 100%;
		display: inline-block;
		position: relative;
		border-radius: 2px;
		margin-right: pxTorem(13);
		margin-left: pxTorem(13);
		margin-bottom: pxTorem(15);
		border: solid 1px #e8e8e8;
	}
	@media screen and (max-width:374px){
		.image-item {
			width: imgpxTorem(100);
			height: imgpxTorem(80);
			margin-right: imgpxTorem(13);
			margin-left: imgpxTorem(13);
			margin-bottom: imgpxTorem(15);
			}
		
	}
	 .image-item input[type="file"] {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		z-index: 0;
	}
	.image-item.space {
		border: none;
	}
	.image-item .image-close {
		position: absolute;
		display: inline-block;
		right: 0;
		top: 0;
		width: pxTorem(20);
		height: pxTorem(20);
		text-align: center;
		line-height: pxTorem(20);
		border-radius: 50%;
		background-color: #FF5053;
		color: #f3f3f3;
		border: solid 1px #FF5053;
		font-size: 12px;
		font-weight: 200;
		z-index: 1;
	}
	.image-item.space .image-close {
		display: none;
	}
	
	.m-sel-time-icon{ height: pxTorem(18) ; background-position: pxTorem(-10) pxTorem(-179/2); }
	
	
}
.m-bottom-btn{ height: pxTorem(40); padding-top: 0; margin-top: pxTorem(85); margin-bottom: 0; padding-bottom: 0; border-radius: 0; line-height: pxTorem(40) !important; font-size: pxTorem(14)!important;
	&:before{margin-right: pxTorem(5); }
}