@charset "utf-8";
/* ============================================================
 * [MODULE]  头部标题模块scss 
 * 
 * 
============================================================ */
@import "../../global/global_src/_variables.scss";
@import "../../global/global_src/_function.scss";
.jt-m-page-header-bar{
	height: pxTorem(44) ;
	padding-left: pxTorem(7.5);
	padding-right: pxTorem(7.5);
	background-color: #3681D0;
	.m-action-back{
		padding-top: pxTorem(5);
		padding-bottom: pxTorem(5);
		line-height: pxTorem(34) ;
		font-size: pxTorem(20);
		color: #fff;
		
	}
	.m-page-hd-tit{line-height: pxTorem(44) ; font-size: pxTorem(17); color: #fff; }
	
	
}
